# Import Module

In [75]:
# genfunc.py

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import Day, MonthEnd
from datetime import datetime
from datetime import timedelta


def is_iterable(data):
    if type(data) == str:
        return False
    try:
        _ = iter(data)
        return True
    except TypeError:
        return False

In [76]:
# index.py

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import Day, MonthEnd
from datetime import datetime
from datetime import timedelta
from datetime import date
from functools import wraps

import genfunc

__all__ = ['Index', 'booleanloc']

class Index(object):
    def __init__(self,
                start: Day = None,
                end: Day = None,
                periods: int = None,
                freq: str = None
                ) -> None:
        self.start = start
        self.end = end
        self.periods = periods
        self.freq = freq
        self._range = pd.date_range(self.start, self.end, self.periods, \
                      self.freq)
        self._idxno = np.arange(len(self._range))
        
    def __getitem__(self, no):
        return self.index[no]
        
    def __len__(self):
        return len(self.index)
        
    @property
    def index(self):
        return self._range.date
        
    @property
    def year(self):
        return self._range.year
        
    @property
    def month(self):
        return self._range.month
        
    @property
    def day(self):
        return self._range.day
        
    @property
    def idxno(self):
        return self._idxno
        
    def idxloc(self, year=None, month=None, day=None):
        """
        Return boolean array of data(year, month, day) is in array
        """
        isyear = _getblnloc(self.year, year)
        ismonth = _getblnloc(self.month, month)
        isday = _getblnloc(self.day, day)
        
        return isyear & ismonth & isday
        

def _getblnloc(array, val):
    if val == None:
        return [True]
    else:
        return booleanloc(array)[val]


class booleanloc():
    """
    Return boolean array of data is in array
    
    Parameters
    ----------
    array : data array
    
    Returns
    -------
    array : boolean array
    
    Examples
    --------
    tmp = booleanloc(np.array([10, 20, 30]))
    tmp[10]
    >>> array([True, False, False])
    tmp[[20, 30]]
    >>> array([False, True, True])
    """
    def __init__(self, array):
        self.array = array
        
    def __getitem__(self, data):
        if genfunc.is_iterable(data):
            return self.loopiniter(self.array, data)
        else:
            return self.array == data
    
    @staticmethod
    def loopiniter(array, data):
        tmp = [False]
        for val in data:
            blnarray = array == val
            tmp = tmp | blnarray
        return tmp

In [77]:
# account.py

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import Day, MonthEnd
import datetime as dt
from datetime import datetime
from datetime import timedelta
from datetime import date
from functools import wraps

import genfunc
from index import Index
# from . import genfunc
# from .index import Index

__all__ = ['Account', 'Merge']

class Account(object):
    def __init__(self,
                 index = None, # Index class
                 title = None, # string : "ProductA"
                 tag = None, # string tuple : ("tagA", "tagB")
                 balstrt = 0, # int
                 note = "" # string
                 ):
        # index 입력
        if isinstance(index, Index):
            self.cindex = index
            self.index = index.index
            
        # title 입력
        self.title = title
        
        # tag 입력 : tag는 튜플로 받음. string으로 입력된 경우 튜플로 변환 필요
        if isinstance(tag, tuple):
            self.tag = tag
        elif isinstance(tag, str):
            self.tag = tuple(tag)
        elif tag is None:
            self.tag = None
        else:
            raise ValueError("tag is not a tuple")
            
        # balstrt 입력
        self.balstrt = balstrt
        
        # note 입력
        self.note = note
        
        # Initialize
        self._intlz()

    def _intlz(self):
        # 초기화 함수 실행
        self.setdf()
        self.setjnl()
        self.set_outputfunc()
    
    #### INITIAL SETTING FUNCTION #### 초기화 함수
    DFCOL = ['add_scdd', 'add_scdd_cum', 'sub_scdd', 'sub_scdd_cum',
             'bal_strt', 'amt_add', 'amt_add_cum', 
             'amt_sub', 'amt_sub_cum', 'bal_end',
             'add_rsdl_cum', 'sub_rsdl_cum']
    JNLCOL = ['amt_add', 'amt_sub', 'note']
    def setdf(self):
        # DataFrame 초기화
        self.df = pd.DataFrame(np.zeros([len(self.index), len(self.DFCOL)]),
                               columns = self.DFCOL, 
                               index = self.index)
        self.df.loc[self.index[0], 'bal_strt'] = self.balstrt
        
        # balance 계산 실행
        self._cal_bal()
        
    def setjnl(self):
        # Journal(분개장) 초기화
        self.jnl = pd.DataFrame(columns = self.JNLCOL)
    #### INITIAL SETTING FUNCTION ####
    
    #### DECORATOR ####
    def listwrapper(func):
        @wraps(func)
        def wrapped(self, *args):
            is_iter = True
            for arg in args:
                if genfunc.is_iterable(arg) is False:
                    is_iter = False
            if is_iter is True:
                ilen = len(args[0])
                for i in range(ilen):
                    new_args = []
                    for val in args:
                        new_args = new_args + [val[i]]
                    new_args = tuple(new_args)
                    func(self, *new_args)
            else:
                new_args = args
                func(self, *new_args)
        return wrapped
                
    #### DECORATOR ####
     
    #### CALCULATE DATA BALANCE ####
    def _cal_bal(self):
        # 누적합 계산
        self.df.loc[:, 'add_scdd_cum'] = self.df.loc[:, 'add_scdd'].cumsum()
        self.df.loc[:, 'sub_scdd_cum'] = self.df.loc[:, 'sub_scdd'].cumsum()
        self.df.loc[:, 'amt_add_cum'] = self.df.loc[:, 'amt_add'].cumsum()
        self.df.loc[:, 'amt_sub_cum'] = self.df.loc[:, 'amt_sub'].cumsum()
        
        # 계좌 잔액 계산
        for i, idx in enumerate(self.index):
            if i > 0:
                self.df.loc[idx, 'bal_strt'] = self.df.loc[self.index[i-1], 'bal_end']
            self.df.loc[idx, 'bal_end'] = self.df.loc[idx, 'bal_strt'] \
                                          + self.df.loc[idx, 'amt_add'] \
                                          - self.df.loc[idx, 'amt_sub']
        
        # 누적 합 차액 계산
        self.df.loc[:, 'add_rsdl_cum'] = self.df.loc[:, 'add_scdd_cum'] \
                                         - self.df.loc[:, 'amt_add_cum']
        self.df.loc[:, 'sub_rsdl_cum'] = self.df.loc[:, 'sub_scdd_cum'] \
                                         - self.df.loc[:, 'amt_sub_cum']
    #### CALCULATE DATA BALANCE ####
        
    
    #### INPUT DATA ####
    @listwrapper
    def addscdd(self, index, amt):
        self.df.loc[index, 'add_scdd'] += amt
        self._cal_bal()

    @listwrapper
    def subscdd(self, index, amt):
        self.df.loc[index, 'sub_scdd'] += amt
        self._cal_bal()
        
    @listwrapper
    def addamt(self, index, amt):
        # 분개장(journal)에 데이터 입력
        tmpjnl = pd.DataFrame([[amt, 0, "add_amt"]], \
                              columns=self.JNLCOL, index=[index])
        self.jnl = pd.concat([self.jnl, tmpjnl])
        
        # DataFrame에 데이터 입력
        self.df.loc[index, 'amt_add'] += amt
        
        # Balance 계산 실행
        self._cal_bal()
        
    @listwrapper
    def subamt(self, index, amt):
        # 분개장(journal)에 데이터 입력
        tmpjnl = pd.DataFrame([[0, amt, "sub_amt"]], \
                              columns=self.JNLCOL, index=[index])
        self.jnl = pd.concat([self.jnl, tmpjnl])
        
        # DataFrame에 데이터 입력
        self.df.loc[index, "amt_sub"] += amt
        
        # Balance 계산 실행
        self._cal_bal()
        
    @listwrapper
    def iptamt(self, index, amt):
        # amt가 양수인 경우 addamt 실행, 음수인 경우 subamt 실행
        if amt >= 0:
            self.addamt(index, amt)
        else:
            self.subamt(index, -amt)
    #### INPUT DATA ####


    #### OUTPUT DATA ####
    
    def set_outputfunc(self):
        """
        Column명을 기준으로 데이터프레임에서 요구되는 값을 찾아서 반환
        """
        self.add_scdd = self.add_scdd(self)
        self.add_scdd_cum = self.add_scdd_cum(self)
        self.sub_scdd = self.sub_scdd(self)
        self.sub_scdd_cum = self.sub_scdd_cum(self)
        self.bal_strt = self.bal_strt(self)
        self.amt_add = self.amt_add(self)
        self.amt_add_cum = self.amt_add_cum(self)
        self.amt_sub = self.amt_sub(self)
        self.amt_sub_cum = self.amt_sub_cum(self)
        self.bal_end = self.bal_end(self)
        self.add_rsdl_cum = self.add_rsdl_cum(self)
        self.sub_rsdl_cum = self.sub_rsdl_cum(self)    
    
    class getattr_dfcol:
        """
        데코레이터
        클래스명을 column 이름으로 받아서 dataframe에서 index no, column name으로
        값을 찾아서 반환함.
        """
        def __call__(self, cls):
            def init(self, sprinstnc):
                self.sprinstnc = sprinstnc
                self.colname = cls.__name__
            cls.__init__ = init
            
            def getitem(self, idxno):
                return self.sprinstnc.df.loc[idxno, self.colname]
            cls.__getitem__ = getitem
            
            return cls
    
    @getattr_dfcol()
    class add_scdd:
        pass
    @getattr_dfcol()
    class add_scdd_cum:
        pass
    @getattr_dfcol()
    class sub_scdd:
        pass
    @getattr_dfcol()
    class sub_scdd_cum:
        pass
    @getattr_dfcol()
    class bal_strt:
        pass
    @getattr_dfcol()
    class amt_add:
        pass
    @getattr_dfcol()
    class amt_add_cum:
        pass
    @getattr_dfcol()
    class amt_sub:
        pass
    @getattr_dfcol()
    class amt_sub_cum:
        pass
    @getattr_dfcol()
    class bal_end:
        pass
    @getattr_dfcol()
    class add_rsdl_cum:
        pass
    @getattr_dfcol()
    class sub_rsdl_cum:
        pass
    
    def __getattr__(self, attr):
        """
        기존에 정의되어 있지 않은 속성이 입력될 경우, 객체를 조회하여 속성을 반환
        """ 
        return self.__dict__[attr]
    #### OUTPUT DATA ####


    #### ACCOUNT TRANSFER ####
    def send(self, index, amt, account):
        # 본 account에서 입력된 account로 계좌 이체
        self.subamt(index, amt)
        account.addamt(index, amt)
    #### ACCOUNT TRANSFER ####


class Merge(object):
    def __init__(self, dct:dict):
        # dictionary : {"nameA":A, "nameB":B, ...}
        self.dct = dct
    
    def __getitem__(self, dct_key):
        return self.dct[dct_key]
    
    @property
    def df(self):
        # merge 완료된 dataframe 출력
        tmp_dct = sum([self.dct[x].df for x in self.dct])
        return tmp_dct
    
    def df_col(self, col):
        # column명 구분에 따라 dictionary 데이터를 취합
        tmp_dct = pd.DataFrame({x: self.dct[x].df.loc[:, col] for x in self.dct})
    
    def title(self):
        # dictionary 데이터 상 title 값 취합
        tmp_dct = pd.Series({x: self.dct[x].title for x in self.dct})
        return tmp_dct
    
    def tag(self):
        # dictionary 데이터 상 tag 값 취합
        tmp_dct = pd.Series({x: self.dct[x].tag for x in self.dct})
        return tmp_dct
    
    def note(self):
        # dictionary 데이터 상 note 값 취합
        tmp_dct = pd.Series({x: self.dct[x].note for x in self.dct})
        return tmp_dct

    def __getattr__(self, attr):
        """
        기존에 정의되어 있지 않은 속성이 입력될 경우, Account 객체를 조회하여 속성
        존재 여부를 확인함.
        """
        return [dctval.__dict__[attr] for dctval in self.dct.values()]
        

class _idxsrch:
    def __init__(self) -> None:
        self._name = None
    
    def __set_name__(self, owner, name):
        self._name = name
        
    def __set__(self, instance, value):
        instance.__dict__[self._name] = value

In [78]:
# loan.py

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import Day, MonthEnd
import datetime as dt
from datetime import datetime
from datetime import timedelta
from datetime import date
from functools import wraps

# import genfunc
# from index import Index
# from account import Account, Merge

__all__ = ['Loan']

class Loan(object):
    def __init__(self,
                 index = None, # Index class
                 amt_ntnl = None, # float
                 rate_fee = None, # float
                 rate_IR = None, # float
                 title = None, # string : "LoanA"
                 tag = None, # string tuple : ("tagA", "tagB")
                 note = "" # string
                 ):
        # index 입력
        if isinstance(index, Index):
            self.cindex = index
            self.index = index.index
            
        # 주요 변수 입력
        self.amt_ntnl = amt_ntnl
        self.rate_fee = rate_fee
        self.rate_IR = rate_IR
            
        # title 입력
        self.title = title
        
        # tag 입력 : tag는 튜플로 받음. string으로 입력된 경우 튜플로 변환 필요
        if isinstance(tag, tuple):
            self.tag = tag
        elif isinstance(tag, str):
            self.tag = tuple(tag)
        elif tag is None:
            self.tag = None
        else:
            raise ValueError("tag is not a tuple")
            
        # note 입력
        self.note = note
        
        # Account Setting
        self.ntnl = Account(self.cindex, self.title, self.tag)
        self.fee = Account(self.cindex, self.title, self.tag)
        self.IR = Account(self.cindex, self.title, self.tag)
        
        # Initialize
        self.dct = {}
        self._intlz()
        
    def _intlz(self):
        # 초기화 함수 실행    
        self.ntnl.amt = self.amt_ntnl
        self.ntnl.subscdd(self.cindex.index[0], self.ntnl.amt)
        self.ntnl.addscdd(self.cindex.index[-1], self.ntnl.amt)
        self.dct['ntnl'] = self.ntnl
        
        self.fee.rate = self.rate_fee
        self.fee.amt = self.ntnl.amt * self.fee.rate
        self.fee.addscdd(self.cindex.index[0], self.fee.amt)
        self.dct['fee'] = self.fee
        
        self.IR.rate = self.rate_IR
        self.IR.amt = self.ntnl.amt * self.IR.rate
        self.IR.addscdd(self.cindex.index[1:], np.ones(len(self.cindex)) * self.IR.amt)
        self.dct['IR'] = self.IR
        
    @property
    def df(self):
        tmp_dct = Merge(self.dct)
        return tmp_dct.df
    #####################################################
    # fee 입금 함수, IR 입금 함수, ntnl 출금, 입금 함수 추가 필요 #

# Input Basic Data

In [79]:
prd_prjt = 24 #개월
prd_loan = 20 #개월
idx_prjt = Index('2021-01', periods=(prd_prjt+1), freq='M')
idx_loan = Index('2021-02', periods=(prd_loan+1), freq='M')

# Input Sales Data

In [92]:
# Initial Sales Data
# Product A : 상온창고
prdtA = Account(idx_prjt, "ProductA", ("Prdt", "A"))
prdtA.rent = 21_000 # 월 임대료 21,000원/평 가정
prdtA.area = 8_000 # 면적 8,000평
prdtA.cap = 0.053 # Cap rate 5.3%
prdtA.amt = prdtA.rent * 12 * prdtA.area / prdtA.cap / 1_000_000
prdtA.addamt(idx_prjt[0], prdtA.amt)
prdtA.subscdd(idx_prjt[21], prdtA.amt)

# Initial Sales Data
# Product B : 저온창고
prdtB = Account(idx_prjt, "ProductB", ("Prdt", "B"))
prdtB.rent = 50_000 # 월 임대료 50,000원/평 가정
prdtB.area = 6_500 # 면적 6,500평
prdtB.cap = 0.058 # Cap rate 5.8%
prdtB.amt = prdtB.rent * 12 * prdtB.area / prdtB.cap / 1_000_000
prdtB.addamt(idx_prjt[0], prdtA.amt)
prdtB.subscdd(idx_prjt[21], prdtB.amt)

# Merge
sales = Merge({'prdtA':prdtA, 'prdtB':prdtB})

# Input Cost Data

In [81]:
dct_cost = {}

# 공정률
idx_prjt.prcs_rate = Series(np.ones(len(idx_prjt)) / len(idx_prjt), 
                       index=idx_prjt.index)

# Initial Cost Data
cstlnd = Account(idx_prjt, "Cost_Land", ("Cost", "Land"))
cstlnd.amt = 15_500.000 # 최초 1회 지급
cstlnd.addscdd(idx_prjt[0], cstlnd.amt)
dct_cost['cstlnd'] = cstlnd

cstcstrn = Account(idx_prjt, "Cost_Construction", ("Cost", "Construction"))
cstcstrn.amt = 50_000.000 # 공사비(지급) : 공정률에 따라 지급
cstcstrn.addscdd(idx_prjt.index, cstcstrn.amt * idx_prjt.prcs_rate)
dct_cost['cstcstrn'] = cstcstrn

cstcstrnb = Account(idx_prjt, "Cost_Construction B", ("Cost", "ConstructionB"))
cstcstrnb.amt = 3_000.000 # 최초 1회 지급
cstcstrnb.addscdd(idx_prjt[0], cstcstrnb.amt)
dct_cost['cstcstrnb'] = cstcstrnb

cstmrktg = Account(idx_prjt, "Cost_Marketing", ("Cost", "Marketing"))
cstmrktg.amt = 2_000.000 # 공정률에 따라 지급
cstmrktg.addscdd(idx_prjt.index, cstmrktg.amt * idx_prjt.prcs_rate)
dct_cost['cstmrktg'] = cstmrktg

csttax = Account(idx_prjt, "Cost_Tax", ("Cost", "Tax"))
csttax.amt = 3_000.000 # 준공시 1회 지급
csttax.addscdd(idx_prjt[11], csttax.amt)
dct_cost['csttax'] = csttax

cstoprtg = Account(idx_prjt, "Cost_Operating", ("Cost", "Operating"))
cstoprtg.amt = 2_200.000
cstoprtg.addscdd(idx_prjt.index, cstoprtg.amt * idx_prjt.prcs_rate)
dct_cost['cstoprtg'] = cstoprtg

cost = Merge(dct_cost)

# Input Loan Data

In [82]:
dct_loan = {}

tra = Loan(idx_loan, amt_ntnl=60_000, rate_fee=0.015, 
             rate_IR=0.05, title="Tr.A", tag=("loan", "A"))
dct_loan['tra'] = tra

trb = Loan(idx_loan, amt_ntnl=20_000, rate_fee=0.03, 
             rate_IR=0.07, title="Tr.B", tag=("loan", "B"))
dct_loan['trb'] = trb

loan = Merge(dct_loan)

# Cash Flow

In [114]:
# Make accounts
acc_oprtg = Account(idx_prjt, "Operating Account", ("Account", "Operating"))

In [115]:
# Unit Sales generation
def make_sales(idx):
    sales['prdtA'].send(idx, sales['prdtA'].sub_scdd[idx], acc_oprtg)
    sales['prdtB'].send(idx, sales['prdtB'].sub_scdd[idx], acc_oprtg)

In [119]:
# Unit Loan Notional Amt Generator
def pay_loan_ntnl(idx):
    if idx in idx_loan.index:
    
        # pay notional amount of loan tra
        amt_send_a = loan['tra'].ntnl.sub_scdd[idx]
        loan['tra'].ntnl.send(idx, amt_send_a, acc_oprtg)
    
        # pay notional amount of loan tra
        amt_send_b = loan['trb'].ntnl.sub_scdd[idx]
        loan['trb'].ntnl.send(idx, amt_send_b, acc_oprtg)

In [ ]:
# Unit Cost Generator
def make_cost(idx):
    for cst in cost.dct.items

In [120]:
# Make Cash Flow
for idx in idx_prjt:
    make_sales(idx)
    pay_loan_ntnl(idx)

In [121]:
acc_oprtg.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
2021-01-31,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0
2021-02-28,0.0,0.0,0.0,0.0,0.000000,80000.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-03-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-04-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-05-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-06-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-07-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-08-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-09-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-10-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-11-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2021-12-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-01-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-02-28,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-03-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-04-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-05-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-06-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-07-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-08-31,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-09-30,0.0,0.0,0.0,0.0,80000.000000,0.000000,80000.000000,0.0,0.0,80000.000000,-80000.000000,0.0
2022-10-31,0.0,0.0,0.0,0.0,80000.000000,105279.115159,185279.115159,0.0,0.0,185279.115159,-185279.115159,0.0
2022-11-30,0.0,0.0,0.0,0.0,185279.115159,0.000000,185279.115159,0.0,0.0,185279.115159,-185279.115159,0.0
2022-12-31,0.0,0.0,0.0,0.0,185279.115159,0.000000,185279.115159,0.0,0.0,185279.115159,-185279.115159,0.0
2023-01-31,0.0,0.0,0.0,0.0,185279.115159,0.000000,185279.115159,0.0,0.0,185279.115159,-185279.115159,0.0

In [113]:
idx_prjt[1] in idx_loan.index

True

In [127]:
for key, val in cost.dct.items:
    print (key, val)

TypeError: 'builtin_function_or_method' object is not iterable