In [39]:
import importlib
from IPython.display import display

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from pandas.tseries.offsets import Day, MonthEnd
from datetime import datetime
from datetime import timedelta
from datetime import date

from account import Index, Account, Merge

# Input Basic Data

In [2]:
mtrt = 26 #개월
prd_prjt = 24 #개월(프로젝트 기간)
repay_rate = 1.0 # 상환비율(매출 발생금액 중 상환계좌 이체 비율)
idx = Index('2021-04', periods=12, freq='M')

# Input Sales Data

In [27]:
# Initial Sales Data
# Product A : 상온창고
prdtA = Account(idx, "ProductA", ("Prdt", "A"))
prdtA.rent = 21_000 # 월 임대료 21,000원/평 가정
prdtA.area = 8_000 # 면적 8,000평
prdtA.cap = 0.053 # Cap rate 5.3%
prdtA.amt = prdtA.rent * 12 * prdtA.area / prdtA.cap / 1_000_000
prdtA.addscdd(prdtA.index[0], prdtA.amt)
prdtA.subscdd(prdtA.index[11], prdtA.amt)
prdtA.addamt(prdtA.index[0], prdtA.df.loc[prdtA.index[0], 'add_rsdl_cum'])
prdtA.subamt(prdtA.index[11], prdtA.df.loc[prdtA.index[11], 'sub_rsdl_cum'])

# Product B : 저온창고
prdtB = Account(idx, "ProductB", ("Prdt", "B"))
prdtB.rent = 50_000 # 월 임대료 50,000원/평 가정
prdtB.area = 6_500 # 면적 6,500평
prdtB.cap = 0.058 # Cap rate 5.8%
prdtB.amt = prdtB.rent * 12 * prdtB.area / prdtB.cap / 1_000_000
prdtB.addscdd(prdtB.index[0], prdtB.amt)
prdtB.subscdd(prdtB.index[11], prdtB.amt)
prdtB.addamt(prdtB.index[0], prdtB.df.loc[prdtB.index[0], 'add_rsdl_cum'])
prdtB.subamt(prdtB.index[11], prdtB.df.loc[prdtB.index[11], 'sub_rsdl_cum'])

# Merge
sales = Merge({'prdtA':prdtA, 'prdtB':prdtB})

# Input Cost Data

In [57]:
dct = {}

# 공정률
idx.prcs_rate = Series(np.ones(len(idx)) / len(idx), 
                       index=idx.index)

# Initial Cost Data
cstlnd = Account(idx, "Cost_Land", ("Cost", "Land"))
cstlnd.amt = 15_500.000 # 최초 1회 지급
cstlnd.addscdd(idx.index[0], cstlnd.amt)
dct['cstlnd'] = cstlnd

cstcstrn = Account(idx, "Cost_Construction", ("Cost", "Construction"))
cstcstrn.amt = 50_000.000 # 공사비(지급) : 공정률에 따라 지급
cstcstrn.addscdd(idx.index, cstcstrn.amt * idx.prcs_rate)
dct['cstcstrn'] = cstcstrn

cstcstrnb = Account(idx, "Cost_Construction B", ("Cost", "ConstructionB"))
cstcstrnb.amt = 3_000.000 # 최초 1회 지급
cstcstrnb.addscdd(idx.index[0], cstcstrnb.amt)
dct['cstcstrnb'] = cstcstrnb

cstmrktg = Account(idx, "Cost_Marketing", ("Cost", "Marketing"))
cstmrktg.amt = 2_000.000 # 공정률에 따라 지급
cstmrktg.addscdd(idx.index, cstmrktg.amt * idx.prcs_rate)
dct['cstmrktg'] = cstmrktg

csttax = Account(idx, "Cost_Tax", ("Cost", "Tax"))
csttax.amt = 3_000.000 # 준공시 1회 지급
csttax.addscdd(idx.index[11], csttax.amt)
dct['csttax'] = csttax

cstoprtg = Account(idx, "Cost_Operating", ("Cost", "Operating"))
cstoprtg.amt = 2_200.000
cstoprtg.addscdd(idx.index, cstoprtg.amt * idx.prcs_rate)
dct['cstoprtg'] = cstoprtg

cost = Merge(dct)

In [58]:
cost.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
2021-04-30,23016.666667,23016.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23016.666667,0.0
2021-05-31,4516.666667,27533.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27533.333333,0.0
2021-06-30,4516.666667,32050.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32050.000000,0.0
2021-07-31,4516.666667,36566.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36566.666667,0.0
2021-08-31,4516.666667,41083.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41083.333333,0.0
2021-09-30,4516.666667,45600.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45600.000000,0.0
2021-10-31,4516.666667,50116.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50116.666667,0.0
2021-11-30,4516.666667,54633.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54633.333333,0.0
2021-12-31,4516.666667,59150.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59150.000000,0.0
2022-01-31,4516.666667,63666.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63666.666667,0.0
2022-02-28,4516.666667,68183.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68183.333333,0.0
2022-03-31,7516.666667,75700.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75700.000000,0.0